<div class="card text-center shadow-sm mt-4">

  <!-- Imagen del usuario -->
  <img 
    [src]="miUsuario()?.image" 
    class="avatar card-img-top rounded-circle mx-auto mt-3" 
    alt="Foto de {{ miUsuario()?.first_name }}" 
  />

  <div class="card-body">

    <!-- Nombre completo -->
    <h5 class="card-title">
      {{ miUsuario()?.first_name }} {{ miUsuario()?.last_name }}
    </h5>

    <!-- Botones de acción -->
    <div class="d-flex justify-content-around mt-3">

      <button 
        class="btn btn-primary btn-sm"
        [routerLink]="['/user-detail', miUsuario()?._id]"
        >
        Ver detalle
        </button>


      <button class="btn btn-warning btn-sm"
      [routerLink]="['/updateuser', miUsuario()?._id]"
      >
      Editar
      </button>

      <button class="btn btn-danger btn-sm" (click)="onDelete()">
        Borrar
      </button>

    </div>
  </div>
</div>

