<div class="container mt-5">

  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow-sm p-4">

        <div class="row align-items-center">

          <!-- FOTO -->
          <div class="col-md-4 text-center mb-3 mb-md-0">
            <img 
              [src]="user()?.image" 
              alt="Foto usuario" 
              class="img-fluid rounded-circle border"
              style="width: 180px; height: 180px; object-fit: cover;"
            />
          </div>

          <!-- DATOS -->
          <div class="col-md-8">

            <h3 class="fw-bold">{{ user()?.first_name }}</h3>
            <h4 class="text-muted">{{ user()?.last_name }}</h4>

            <p class="mt-3 mb-1">
              <strong>Nombre Usuario:</strong> {{ user()?.username }}
            </p>

            <p class="mb-3">
              <strong>Email:</strong> {{ user()?.email }}
            </p>

            <!-- BOTONES -->
            <div class="d-flex gap-2 mt-4">
              <button class="btn btn-danger btn-sm">Eliminar</button>
              <button class="btn btn-warning btn-sm">Actualizar</button>
              <button class="btn btn-secondary btn-sm" [routerLink]="['/home']">Volver a listado</button>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>
