<div class="container mt-4">

  <h2 class="mb-4">Listado de usuarios</h2>

  <div class="row">
    @for (user of users(); track user._id) {
      <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
        <app-user-card [miUsuario]="user"></app-user-card>
      </div>
    }
  </div>

</div>
<!--d-flex flex-wrap gap-2 mt-3-->
<div class="d-flex justify-content-center mt-4 gap-2">

  @for (num of pages; track num) {
    <button 
      class="btn btn-outline-primary rounded-circle"
      [class.active]="page() === num"
      style="width: 45px; height: 45px;"
      (click)="loadUsers(num)"
    >
      {{ num }}
    </button>
  }

</div>

