<div class="container mt-4">

  <h2 class="mb-4">Nuevo Usuario</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <!-- NOMBRE -->
    <div class="mb-3">
      <label class="form-label">Nombre Usuario</label>
      <input type="text" class="form-control"
             formControlName="name"
             placeholder="Introduzca nombre de usuario">
      @if(checkControl('name', 'required' )){
      <p class="error">Campo requerido</p>
      }
      @if(checkControl('name', 'minlength' )){
      <p class="error">Campo con longitud minima de 3 caracteres</p>
      }
    </div>

    <!-- APELLIDO -->
    <div class="mb-3">
      <label class="form-label">Apellido Usuario</label>
      <input type="text" class="form-control"
             formControlName="surname"
             placeholder="Introduzca apellido de usuario">

      @if(checkControl('surname', 'required' )){
      <p class="error">Campo requerido</p>
      }
      @if(checkControl('surname', 'minlength' )){
      <p class="error">Campo con longitud minima de 3 caracteres</p>
      }
    </div>

    <!-- EMAIL -->
    <div class="mb-3">
      <label class="form-label">Email Usuario</label>
      <input type="email" class="form-control"
             formControlName="email"
             placeholder="Introduzca email de usuario">
      @if(checkControl('email', 'required' )){
      <p class="error">Campo requerido</p>
      }
      @if(checkControl('email', 'pattern' )){
      <p class="error">Campo con formato de email inválido</p>
      }
    </div>

    <!-- IMAGEN -->
    <div class="mb-3">
      <label class="form-label">Imagen Usuario</label>
      <input type="text" class="form-control"
             formControlName="image"
             placeholder="Introduzca url de foto usuario">

      @if(checkControl('image', 'required' )){
      <p class="error">Campo requerido</p>
      }
      @if(checkControl('image', 'pattern' )){
      <p class="error">Campo con formato de imagen inválido</p>
      }
    </div>

    <!-- BOTÓN -->
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
      Guardar
    </button>

  </form>

</div>
